
.build/
.swiftpm/
.env
.DS_Store

qcow2convert/Qcow2convert.xcframework/
DerivedData/
dist/
Sources/cakectl/Ignored/

*.log
*.pkg
*.jpg
*.xcf
*.o
*.d
*.swiftdeps
*.swiftdeps~

Caker/Caker.xcodeproj/project.xcworkspace/

Caker/Caker.xcodeproj/xcuserdata
