<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Document</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>Virtual machine</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.aldunelabs.caker.caked-vm</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Caker Virtual machine</string>
			<key>UTTypeIconFile</key>
			<string>Document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Document</string>
				<key>UTTypeIconBadgeName</key>
				<string>Document</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.aldunelabs.caker.caked-vm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cakedvm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-caked-vm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Disk Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.disk-image</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ISO Disk Image</string>
			<key>UTTypeIdentifier</key>
			<string>public.iso-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>iso</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Unix socket address</string>
			<key>UTTypeIdentifier</key>
			<string>public.socket-address</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>sock</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
