name: Release
on:
  push:
    branches:
    - 'main'
    tags:
      - 'v*'
      - 'snapshot'
  pull_request:
    branches:
    - 'main'

env:
  BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
  P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
  KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
  APPLE_ID: ${{ secrets.APPLE_ID }}
  TEAM_ID: ${{ secrets.TEAM_ID }}
  APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  HOMEBREW_NO_AUTO_UPDATE: 1

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 60
    outputs:
      build_package: ${{ steps.version.outputs.build_package }}
    steps:
      - name: Check tools
        id: check
        run: |
          if [ -z "$(command -v python)" ]; then
            echo "install_python=true" >> $GITHUB_OUTPUT
          else
            echo "install_python=false" >> $GITHUB_OUTPUT
          fi

          if [ -z "$(command -v python)" ]; then
            echo "install_golang=true" >> $GITHUB_OUTPUT
          else
            echo "install_golang=false" >> $GITHUB_OUTPUT
          fi

          if [ -z "$(command -v brew)" ]; then
            echo "install_brew=true" >> $GITHUB_OUTPUT
          else
            echo "install_brew=false" >> $GITHUB_OUTPUT
          fi

          if [ -z "$(command -v swift)" ]; then
            echo "install_swift=true" >> $GITHUB_OUTPUT
          else
            echo "install_swift=false" >> $GITHUB_OUTPUT
          fi

      - name: checkout
        uses: actions/checkout@v4.2.2
        with:
          submodules: recursive
 
      - name: Set up Homebrew
        if: steps.check.outputs.install_python == 'true'
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Python
        uses: actions/setup-python@v5
        if: steps.check.outputs.install_python == 'true'
        with:
          python-version: '3.13' 

      - name: Setup Go
        if: steps.check.outputs.install_golang == 'true'
        uses: actions/setup-go@v5.4.0
        with:
          go-version: '>=1.23.0'
          cache: true
          cache-dependency-path: qcow2convert/go.mod

      - name: Setup Swift
        if: steps.check.outputs.install_golang == 'true'
        uses: swift-actions/setup-swift@v2.3.0

      - name: Version
        id: version
        run: |
          VERSION_TAG="${GITHUB_REF##*/}"
          PACKAGE=false

          if [ -z "$(command -v envsubst)"]
            brew install envsubst
          fi

          if [[ "${VERSION_TAG}" == "snapshot" ]]; then
            VERSION_TAG=SNAPSHOT-$(git rev-parse --short HEAD)
            PACKAGE=true
          elif [[ "${VERSION_TAG}" == v* ]]; then
            VERSION_TAG="${VERSION_TAG:1}"
            PACKAGE=true
          fi

          echo "VERSION_TAG=${VERSION_TAG}" >> $GITHUB_ENV
          echo "PACKAGE=${PACKAGE}" >> $GITHUB_ENV
          echo "build_package=${PACKAGE}" >> $GITHUB_OUTPUT
          echo "version_tag=${VERSION_TAG}" >> $GITHUB_OUTPUT

          TMPFILE=$(mktemp)
          envsubst < Sources/caked/CI/CI.swift > $TMPFILE
          cp $TMPFILE Sources/caked/CI/CI.swift
          cp $TMPFILE Sources/cakectl/CI/CI.swift

      - name: Install the Apple certificate and provisioning profile
        run: |
          ./.ci/setup-keychain.sh $RUNNER_TEMP/app-signing.keychain-db

      - name: Build QCow2convert framework
        run: |
          cd qcow2convert
          ./build.sh

      - name: Build Swift package
        env:
          PACKAGE: ${{ steps.version.outputs.build_package }}
        run: |
          ./Scripts/build-signed-release.sh
 
      - name: Run tests
        run: |
          # Run tests for the Swift package
          export PATH=${PWD}/.bin:$PATH
          swift test

      - name: Run integration tests
        run: |
          # Run tests for the Swift package
          export PATH=${PWD}/.bin:$PATH
          if [ -z "$(command -v virtualenv)"]
            brew install virtualenv
          fi
          cd integration/tests
          virtualenv venv
          source venv/bin/activate
          pip install -r requirements.txt
          pytest --verbose --junit-xml=pytest-junit.xml

      - name: package
        env:
          PACKAGE: ${{ steps.version.outputs.build_package }}
        if: github.event_name == 'push' && env.PACKAGE == 'true'
        run: |
          export VERSION_TAG="${GITHUB_REF##*/}"
          ./.ci/create-pkg.sh $RUNNER_TEMP/app-signing.keychain-db

      - name: "Create release"
        env:
          PACKAGE: ${{ steps.version.outputs.build_package }}
          VERSION_TAG: ${{ steps.version.outputs.version_tag }}
        if: github.event_name == 'push' && env.PACKAGE == 'true'
        run: |
          if [ ${GITHUB_REF##*/} == "snapshot" ]; then
            gh release create --prerelease --generate-notes --title "${VERSION_TAG}" "${VERSION_TAG}" ./.ci/Caker-${VERSION_TAG}.pkg
          else
            gh release create --generate-notes --title "${VERSION_TAG}" "${VERSION_TAG}" ./.ci/Caker-${VERSION_TAG}.pkg
          fi
    
      - name: Clean up keychain and provisioning profile
        run: |
          security delete-keychain $RUNNER_TEMP/app-signing.keychain-db
